In [243]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.linear_model import ElasticNet
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR
from sklearn.preprocessing import PolynomialFeatures

In [219]:
df = pd.read_csv("house.csv")

In [220]:
df = df.drop(columns = ['Unnamed: 0'])

In [221]:
df

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,60,3,65.0,8450,1,0,3,3,0,4,...,0,2,2,2,0,2,2008,8,4,208500
1,20,3,80.0,9600,1,0,3,3,0,2,...,0,2,2,2,0,5,2007,8,4,181500
2,60,3,68.0,11250,1,0,0,3,0,4,...,0,2,2,2,0,9,2008,8,4,223500
3,70,3,60.0,9550,1,0,0,3,0,0,...,0,2,2,2,0,2,2006,8,0,140000
4,60,3,84.0,14260,1,0,0,3,0,2,...,0,2,2,2,0,12,2008,8,4,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,60,3,62.0,7917,1,0,3,3,0,4,...,0,2,2,2,0,8,2007,8,4,175000
1456,20,3,85.0,13175,1,0,3,3,0,4,...,0,2,2,2,0,2,2010,8,4,210000
1457,70,3,66.0,9042,1,0,3,3,0,4,...,0,2,0,2,2500,5,2010,8,4,266500
1458,20,3,68.0,9717,1,0,3,3,0,4,...,0,2,2,2,0,4,2010,8,4,142125
1459,20,3,75.0,9937,1,0,3,3,0,4,...,0,2,2,2,0,6,2008,8,4,147500

In [222]:
# Select numerical columns
numerical_columns = df.select_dtypes(include='number')

# Create an Isolation Forest model
model = IsolationForest(contamination=0.05)  # Adjust the contamination parameter as needed

# Fit the model on the numerical columns
model.fit(numerical_columns)

# Predict the outliers
outliers = model.predict(numerical_columns)

# Filter the outliers from the original DataFrame
outliers_df = df[outliers == -1]

In [223]:
df

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,60,3,65.0,8450,1,0,3,3,0,4,...,0,2,2,2,0,2,2008,8,4,208500
1,20,3,80.0,9600,1,0,3,3,0,2,...,0,2,2,2,0,5,2007,8,4,181500
2,60,3,68.0,11250,1,0,0,3,0,4,...,0,2,2,2,0,9,2008,8,4,223500
3,70,3,60.0,9550,1,0,0,3,0,0,...,0,2,2,2,0,2,2006,8,0,140000
4,60,3,84.0,14260,1,0,0,3,0,2,...,0,2,2,2,0,12,2008,8,4,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,60,3,62.0,7917,1,0,3,3,0,4,...,0,2,2,2,0,8,2007,8,4,175000
1456,20,3,85.0,13175,1,0,3,3,0,4,...,0,2,2,2,0,2,2010,8,4,210000
1457,70,3,66.0,9042,1,0,3,3,0,4,...,0,2,0,2,2500,5,2010,8,4,266500
1458,20,3,68.0,9717,1,0,3,3,0,4,...,0,2,2,2,0,4,2010,8,4,142125
1459,20,3,75.0,9937,1,0,3,3,0,4,...,0,2,2,2,0,6,2008,8,4,147500

In [224]:
Q1 = df.quantile(0.25)
Q3 = df.quantile(0.75)
IQR = Q3 - Q1
threshold = 1.5 * IQR

# Identify and remove outliers
df = df[(df >= Q1 - threshold) & (df <= Q3 + threshold)]

In [232]:
df = df.fillna(df.mode().iloc[0])

In [236]:
X = df.drop(columns = ['SalePrice'])

In [237]:
y = df['SalePrice']

In [238]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [239]:
random_forest = RandomForestRegressor(n_estimators=100)

In [240]:
random_forest.fit(X_train, y_train)

RandomForestRegressor()

In [247]:
predictions = random_forest.predict(X_test)

mae = mean_absolute_error(y_test, predictions)
mse = mean_squared_error(y_test, predictions)
rmse = mean_squared_error(y_test, predictions, squared=False)

print("MAE:", mae)
print("MSE:", mse)
print("RMSE:", rmse)

MAE: 20017.246061643837
MSE: 929868215.9665962
RMSE: 30493.740603058133

In [266]:
row_data = X.iloc[0]
data_1d = row_data.flatten()
predictions = random_forest.predict(data_1d)

AttributeError: 'Series' object has no attribute 'flatten'

In [263]:
import numpy as np